<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="/add" th:object="${user}" method="post">
    <input type="text" th:field="*{fullName}" placeholder="fullName">
    <input type="text" th:field="*{username}" placeholder="username">
    <input type="text" th:field="*{password}" placeholder="password">
    <input type="date" th:field="*{dateOfBirth}">
    <button type="submit">add</button>
</form>
</body>
</html>