<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        .active {
            display: inline;
        }
        .inActive {
            display: none;
        }
        .flex {
            display: flex;
        }
        .gap-5 {
            gap: 5px;
        }
    </style>
</head>
<body>
<a href="/add">addUser</a>
<table border="1" cellpadding="10" cellspacing="10">
    <thead>
    <tr>
        <th>STT</th>
        <th>FullName</th>
        <th>UserName</th>
        <th>DateOfBirth</th>
        <th>Status</th>
        <th colspan="2">Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="user,loop: ${users.content}">
        <td th:text="${(users.number*users.pageable.pageSize) + loop.count}"></td>
        <td th:text="${user.fullName}"></td>
        <td th:text="${user.username}"></td>
        <td th:text="${#dates.format(user.getDateOfBirth(),'dd-MM-yyyy')}"></td>
        <td th:text="${user.isActive}?'Hoạt động':'Không hoạt động'"></td>
        <td>
            <a href="">Edit</a>
        </td>
        <td>
            <a href="">Delete</a>
        </td>
    </tr>
    </tbody>
</table>
<!-- phân trang -->
<!--<p>-->
<!--    <a th:href="@{'?page='+${users.pageable.pageNumber - 1}}" th:class="${users.pageable.pageNumber}!=0?'active':'inActive'">Pre</a>-->
<!--    <span th:text="${users.pageable.pageNumber}+1"></span> / <span th:text="${totalPages}"></span>-->
<!--    <a th:href="@{'?page='+${users.pageable.pageNumber+1}}" th:class="${users.pageable.pageNumber+1}!=${totalPages}?'active':'inActive'">Next</a>-->
<!--</p>-->
<div class="flex gap-5">
    <p th:each="i:${#numbers.sequence(1,totalPages)}">
        <a th:href="@{'?page='+${i - 1}}"><button th:text="${i}"></button></a>
    </p>
</div>

</body>
</html>